:root {
    /* Colores */
    --color-primario: #202020;
    --color-secundario: #363636;
    --color-secundario-claro: #1f9a86;
    --color-fondo: #ffffff;
    --color-base: #ced6da;
    --color-texto-oscuro: black;
    --color-texto-claro: white;

    /* Tipografía */
    --fuente-encabezados: "Roboto", sans-serif;
    --fuente-cuerpo: "Roboto", sans-serif;
    --weight-bold: 700;
    --weight-medium: 500;
    --weight-regular: 400;
    --weight-light: 300;
}

body {
    font-family: var(--fuente-cuerpo);
    font-weight: var(--weight-regular);
    background: var(--color-fondo);
    background-image: url("../public/fondo.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    position: relative;

}

@media(max-width:768px){
    body{
        font-size: 16px;
        /* background-attachment: scroll; */
    }
}

@media(max-width:480px){
    body{
        font-size: 14px;
        /* background-attachment: scroll; */
    }
}

header {
    background: linear-gradient(360deg, rgb(100 147 190) 10%, rgb(189 225 243) 35%);
    padding: 10px 0 10px 0;
    text-align: center;
}

header h1 {
    font-family: var(--fuente-encabezados);
    font-weight: var(--weight-medium);
    color: var(--color-primario);
    font-size: 3em;
}

nav ul {
    list-style: none;
    font-family: var(--fuente-encabezados);
    padding: 0;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

nav ul li a {
    color: var(--color-secundario);
    text-decoration: none;
    font-weight: var(--weight-regular);
    transition: text-decoration 0.5s, color 0.5s;
    font-size: 1.2em;
}

.navbar .nav-link {
  color: var(--color-secundario);
  font-size: 1.2em;
  font-weight: var(--weight-regular);
  transition: color 0.5s;
}

.navbar .nav-link:hover {
  color: var(--color-secundario-claro);
}

/* @media (max-width: 991px) {

.navbar-collapse .navbar-nav {
    flex-direction: column;
    align-items: center;
    gap: 0px ;
}

.navbar-collapse .nav-link {
    font-size: 14px;
    padding: 0 20px ; 
}
} */

nav ul a:hover {
    color: var(--color-secundario-claro);
}

p, li, a {
    font-family: var(--fuente-cuerpo);
    font-weight: var(--weight-regular);
    color: var(--color-primario);
    line-height: 1.5;
}

main {
    padding: 10px 20px;
    max-width: 950px;
    margin: 0px auto;
}

section {
    margin: 20px 0;
    background-color: var(--color-fondo);
    opacity: 90%;
    border-radius: 1.5rem;
    padding: 20px 30px;
    text-align: center;
}

section h2 {
    text-align: center;
    margin: 0 0 20px 0;
    font-family: var(--fuente-encabezados);
    font-weight: var(--weight-bold);
    color: var(--color-secundario);
    font-size: 1.8em;
    display: flex;
    justify-content: center;
}

section ul {
    list-style: none;
    padding-left: 1.25rem;
    margin: 0 0 12px 0;
    line-height: 1.6;
    color: #333;
}

.div_historia, .servicios {
    text-align: left;
    text-indent: 1rem;
}

.div_valores {
    text-align: left;
}

span {
    text-decoration: underline;
    color: rgb(10, 51, 10);
}

.imagenObrasSociales {
    max-width: 100%;
    opacity: 90%;
    border-radius: 1.5rem;
}

.medicos {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.tarjetaMedico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
    background: transparent;
    border: 3px solid var(--color-secundario-claro);
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.319);
    padding: 13px;
    width: 270px;
}

.tarjetaMedico h3 {
    font-family: var(--fuente-encabezados);
    font-weight: var(--weight-medium);
    color: var(--color-primario);
    margin-bottom: 10px;
    font-size: 1em;
}

.imagenDoctor {
    margin: auto;
    width: 80px;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    font-weight: var(--weight-bold);
}